/**
 * @author Stavros Lamprinos [stalab at linuxmail.org] on 22/12/2020.
 */

.DrawerToggle {
    width: 40px;
    height: 85%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
}

.DrawerToggle div {
    width: 90%;
    height: 3px;
    background-color: white;
}

@media (min-width: 500px) {
    .DrawerToggle {
        display: none;
    }
}