/**
 * @author Stavros Lamprinos [stalab at linuxmail.org] on 22/12/2020.
 */

.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a {
    color: #cccccc;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #40A4C8;
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }

    .NavigationItem a {
        color: white;
        height: 100%;
        padding: 2rem 10px;
        border-bottom: 5px solid transparent;
    }

    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color: #40A4C8;
        border-bottom: 5px solid white;
        color: white;
        transition: all 0.3s ease 0s;
    }

    .NavigationItem a:hover::after {
        width: 90%;
        padding-left: 12px;
    }
}