/**
 * @author Stavros Lamprinos [stalab at linuxmail.org] on 22/12/2020.
 */

.Button {
    background-color: transparent;
    border: 1px solid black;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    color: #5C9210;
    border-color: #5C9210;
}

.Danger {
    color: #944317;
    border-color: #944317;
}

.Link {
    color: #ccc;
    border: none;
}