.SearchForm {
    width: 75%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    padding: .7rem;
    margin: .7rem auto;
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    font-size: 1.2rem;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #d4e0ee 100%);
}