.Cockpit {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden;
    justify-content: space-around;
}

.Cockpit button {
    color: #5f5c5c;
    border: none;
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 0.03em;
    line-height: 1.6em;
    margin: 0;
    padding: 10px;
    outline: none;
    cursor: pointer;
    background-color: white;
    width: 50%;
    border-bottom: 1px solid rgba(239, 237, 239, 0.7);
    appearance: none;
    transition: all 0.3s ease-in-out;
}

.Cockpit button:focus,
.Cockpit button:hover {
    border-bottom: 2px solid #187aba;
}

.Cockpit .active {
    border-bottom: 2px solid #187aba;
}